<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>v-model-component</title>
  </head>
  <body>
    <a href="https://vue-next-template-explorer.netlify.app/" target="_blank">
      在线模板浏览工具
    </a>
    <p>自定义组件只添加 modelValue / update:modelValue</p>
    <div id="app"></div>
    <script src="../../../vue-next-3.2.0/packages/vue/dist/vue.global.js"></script>
    <script>
      const { createApp, ref, computed } = Vue;
      const CustomInput = {
        props: ["modelValue"],
        template: `
          <input v-model="value">
        `,
        setup(props, ctx) {
          const value = computed({
            get() {
              return props.modelValue;
            },
            set(value) {
              console.log(value);
              ctx.emit("update:modelValue", value);
            },
          });
          return {
            value,
          };
        },
      };
      const App = {
        components: {
          CustomInput,
        },
        template: `
          <CustomInput v-model="text" />
          {{text}}
        `,
        setup(props, ctx) {
          const text = ref("text");
          return {
            text,
          };
        },
      };
      const app = createApp(App);
      app.mount("#app");
    </script>
  </body>
</html>
